.about{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}
.about h2 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
  text-align: center;
}
.about p {
  color: #aaa;
  margin-bottom: 2em;
  margin-left: 20%;
  margin-right: 20%;
}
.about a{
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
}
@media (max-width: 768px) {
  .about h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .about h2 {
    font-size: 1em;
  }
}