.edit_post {
  padding: 20px;
  text-align: center;
}

.edit_post h2 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
  text-align: center;
}

.edit_post p {
  color: #8c989e;
  margin-bottom: 2em;
}

.edit_post .preview_title {
  margin-bottom: 0.2em;
  color: #000;
  font-weight: bold;
}

.image_preview {
  max-width: 100%;
  margin-bottom: 1em;
}
.full_width_card textarea {
  overflow: hidden; 
  resize: none; 
  min-height: 100px; 
  transition: height 0.2s; 
}


.full_width_card {
  display: block; 
  text-align: left; 
  max-width: 500PX;
}

.full_width_card form {
  width: 100%;
}

.full_width_card label {
  display: block;
  margin-bottom: 1em;
}

.full_width_card input,
.full_width_card textarea,
.full_width_card select {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  box-sizing: border-box;
}

.button_container {
  text-align: center;
}

.button_container .btn {
  margin-top: 1em;
}

.button_container .error {
  margin-top: 1em;
}
.post_content {
  white-space: pre-wrap; 
  line-height: 1.6;
}

/* Media Query para tablets */
@media (max-width: 768px) {
  .edit_post h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .edit_post h2 {
    font-size: 1em;
  }
}
