.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; 
  z-index: 1001; 
  box-sizing: border-box;
  overflow: hidden;
}


.page-content {
  margin-top: 4em; 
  padding: 1em;
}


.brand {
  font-size: 1.2em;
  text-decoration: none;
  color: #000;
  position: relative;
  display: inline-block;
  padding-bottom: 5px; 
  border-bottom: 2px solid transparent; 
  transition: padding-bottom 0.3s, border-color 0.3s;
}

.brand::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%; 
  height: 2px;
  background-color: #000;
  transition: width 0.4s; 
}

.brand:hover::after {
  width: 100%; 
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a {
  text-decoration: none;
  color: #000;
  position: relative; 
}

.links_list li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%; 
  height: 2px;
  background-color: transparent;
  transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
  opacity: 0;
}

.links_list li a:not(.active):hover::after {
  width: 100%; 
  opacity: 1; 
  background-color: #000;
}

.links_list .active a::after {
  width: 0; 
  opacity: 0; 
}

.active {
  border-bottom: 2px solid #000; 
  padding-bottom: 3px; 
}
.iconContainer {
  display: flex;
  align-items: center;
}

.icon {
  width: 40px; 
  height: 40px; 
  margin-right: 8px; 
}

.text {
  display: flex;
  align-items: center;
  font-weight: bold;
}
@media (max-width: 768px) {
  .brand {
    font-size: 0.8em;
  }

  .links_list  {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .brand {
    font-size: 0.6em;
  }

  .links_list  {
    font-size: 0.6em;
  }
}