.sidebar {
  width: 240px;
  padding: 10px;
  background-color: #edf3f6;
  margin-right: 5px ;
}

.tags-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 5px; 
}

.tags {
  list-style: none;
  padding: 2px;
  font-size: 0.8em;
}

.tags li {
  margin: 5px 0;
  padding: 5px 10px;
  margin: 2px;
  background-color: #fff; 
  border-radius: 5px;
  display: inline-block;
  word-wrap: break-word; 
  white-space: normal; 
  font-weight: bold; 
  cursor: pointer;
}

.tag-large {
  font-size: 1.5em;
}

.tag-medium {
  font-size: 1em;
}

.tag-small {
  font-size: 0.8em;
}
h3{
  text-align: center;
}